# Dependencies
node_modules/
packages/

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
/build
/dist
*.apk
*.aab
*.ipa
*.app
.gradle/
.dart_tool/

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
.cache

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
lcov.info

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Uploads
uploads/
temp/
tmp/

# Flutter
.fvm/
fvm_version
